<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/icoin/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/Html/index.js">
    <link rel="stylesheet" href="/css/animation.css">
</head>
<body>
    <div onclick="ClickOut()" class="all">
        <header class="header">
            <div class="header_left">
                <a href="">Ưu đãi đặc biệt</a>
            </div>
            <div class="header_middle">
                <input type="text" name="" placeholder="Nhập vào sản phẩm cần tìm">
                <i class="fas fa-search"></i>
            </div>
            <div class="header_cart">
                <div class="header_cart-elment">
                    <a href=""><i class="fas fa-shopping-cart"></i>    Giỏ Hàng</a>
                </div>
            </div>
            <div class="header_right">
                <a href="/View/login.html">Đăng Ký && Đăng Nhập</a>
            </div>
        </header>
        <div class="menu">
            <div class="menu_left">
                <h1>Sport Store</h1>
            </div>
            <div class="menu_list">
                <ul class="menu_list-item">
                    <li><a href="/View/Index.html">Trang Chủ</a></li>
                    <li class="menu_list-item--product"><a href="/View/product.html">Sản Phẩm</a>
                        <ul class="menu_list-item-navbar">
                        <div class="navbar_left-item">
                            <li><a href="/View/ShoseFootbal.html">Giày & Vớ</a></li>
                            <li ><a href="/View/sportsbag.html">Túi</a></li>
                            <li ><a href="/View/shirt.html">Áo</a></li>
                            <li ><a href="/View/tool.html">Dụng cụ</a></li>
                            <li ><a href="/View/ball&badminton.html">Bóng & Cầu Long</a></li>
                            <li ><a href="/View/dumbbell.html">Tạ</a></li>
                            <li ><a href="/View/Cups&medals.html">Cup và huy chương</a></li>
                            <li ><a href="/View/waterbottle.html">Bình nước</a></li>
                        </div>
                        </ul>
                    </li>
                    <li><a href="">Thông Tin</a></li>
                    <li><a href="">Sự Kiện</a></li>
                    <li><a href="">Trợ Giúp</a></li>
                </ul>
            </div>
        </div>
        <div class="navbar">
            <div class="navbar_right">
                <div class="slideshow-container">
                    <div class="navbar_right-header bien_mat_ben_phai">
                        <img src="/image/tt1.gif" alt="">
                    </div>
                    <div class="navbar_right-header">
                        <img src="/image/tt1.gif" alt="">
                        <div class="nav_dots">
                    </div>
                    <div class="navbar_right-header">
                        <img src="/image/tt1.gif" alt="">
                    </div>
                </div>
                <div class="left_right">
                    <div><button class="left"><i class="fas fa-chevron-left"></i></button></div>
                    <div class="right"><button onclick="onClick()" class="right_button"><i class="fas fa-chevron-right"></i></button></div>
                </div>
                <div class="nav_dots">
                    <span class="dots"></span>
                    <span class="dots"></span>
                    <span class="dots"></span>
                </div>
                <div class="product">
                    <div class="product_header">
                        <h1>Sản Phẩm Mới Nhất</h1>
                    </div>
                    <div class="product_include">
                        <h3>Giày</h3>
                        <div class="product_list-box">
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item7">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                        </div>
                    </div>
                    <div class="product_include">
                        <h3>Giày</h3>
                        <div class="product_list">
                            <div class="product_list-box">
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item7">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_include">
                        <h3>Giày</h3>
                        <div class="product_list-box">
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                                <div class="product_list-item7">
                                    <p>-30%</p>
                                    <a href=""><img src="/image/adidas-copa-sense-3-tf-superspectral-footwear-whiteshock-pink-fw6528_415_20008805_.webp" alt=""></a>
                                    <p>Giày đế siêu bền</p>
                                    <h4>200.000</h4>
                                    <button><a href="">Đưa vào giỏ hàng</a></button>
                                </div>
                        </div>
                    </div>
            </div>
        </div>
</div>
<footer class="footer"> 
    <div class="footer_commit">
        <div class="footer_commit-item">
            <h3>CAM KẾT CỦA CỬA HÀNG</h3>
            <p style="display: flex;"><img style="height: 40px;width: 40px;" src="/image/warranty icons.png" alt="">
            <span>Bảo hành một năm</span></p>
            <p style="display: flex;"><img style="height: 40px;width: 40px;" src="/image/free delivery icons.png" alt="">
            <span>Giao hàng miễn phí trong nội ô thành phố</span></p>
            <p style="display: flex;"><img style="height: 40px;width: 40px;" src="/image/freeship icons.png" alt="">
            <span>Giảm giá cực sốc cho đơn hàng trên 499k</span></p>
            <p style="display: flex;"><img style="height: 40px;width: 40px;" src="/image/return icons.png" alt="">
            <span>Đổi trả miễn phí trong 30 ngày</span></p>
        </div>
    </div>
    <div class="footer_list">
        <div class="footer_list-item">
            <h2>HỖ TRỢ</h2>
            <ul>
                <li>Phương Thức Thanh Toán</li>
                <li>Phương Thức Giao Hàng</li>
            </ul>
        </div>
        <div class="footer_list-item">
            <h2>LIÊN HỆ</h2>
            <ul>
                <li>Chăm Sóc Khách Hàng</li>
                <li>Ưu đãi cho doanh nghiệp</li>
            </ul>
        </div>
        <div class="footer_list-item">
            <h2>PHÁP LÝ</h2>
            <ul>
                <li>Điều Khoản Mua Hàng</li>
                <li>Chính sách bảo mật</li>
            </ul>
        </div>
        <div class="footer_list-item">
            <h2>CỬA HÀNG</h2>
            <ul>
                <li>Địa Chỉ Cửa Hàng</li>
                <li>Thông Tin Tuyển Dụng</li>
            </ul>
        </div>
    </div>
    <div style="text-align: center;padding-top: 20px;font-weight: bold;">@ Mọi bản quyển thuộc về cửa hàng story sport</div>
</footer>
</body>
</html>